# Vendor
.idea/

# Control plane v3
cbootstrap/controlplane*
cbootstrap/hosts.yml
cbootstrap/*.retry
dist/

# Legacy
legacy/provisioning/hosts.yml
legacy/provisioning/*.retry
legacy/provisioning/vars.yml
legacy/eca/debian/
legacy/eca/packetframe-eca.deb
legacy/backend/exporter/exporter
